.container {
    text-align: center;
    margin-top: 50px;
}

.code-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.code {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}