 body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f5f5f5;
        }

        .container {
            text-align: center;
        }

        .code-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .code {
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
            text-align: center;
            font-size: 24px;
            margin: 0 5px;
            border-radius: 5px;
        }